{
    "extends": [
        "@bradgarropy/eslint-config",
        "@bradgarropy/eslint-config-react",
        "@bradgarropy/eslint-config-typescript"
    ],
    "rules": {
        "react/prop-types": ["off"]
    }
}
