@import '../../node_modules/normalize.css/normalize.css';

html {
  height: 100%;
  background-color: #4E0552
}
body { font-family: 'Lucida Sans Typewriter', 'Courier New', Arial, sans-serif }
p    { color: white }
h1, .tile h1 {
  color: white;
  font-weight: bold;
}
a  { color: purple; text-decoration: none; }
h3 {
  color: #E1E804;
  font-weight: 400;
}
iframe {
  border: none;
  width: 110px;
}
footer {
  height: 30vh;
  display: flex;
  justify-content: center;
  background-color: white;
  align-items: center;
  margin-top: 6rem;
}
footer p {
  color: black;
  font-weight: bold;
  font-size: 1.2rem;
}
.hr {
  margin-top: 4rem;
  margin-bottom: 4rem;
  border-top: dotted;
  border-color: purple;
  border-width: 4px;
  height: 0;
  width: 100%;
}
.tile {
  height: 100%;
  width: 30em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tile-striped {
  background: repeating-linear-gradient(
  45deg,
  purple,
  violet 10px,
  purple 10px,
  violet 20px
  );
}
.tile:nth-child(odd)  { background-color: purple }
.tile:nth-child(even) { background-color: violet }
.dots                 { border-bottom: 2px dotted purple }
.justify-center       { justify-content: center }
.locked__ { overflow-y: hidden }
.center   { text-align: center }
.mt       { margin-top: 3rem   }
.mb       { margin-bottom: 3rem }
.m0       { margin: 0 }
.w50      { width: 50% }
.mx-auto  { margin: 0 auto }
.flex     { display: flex }
